/* Made by Masstige */
.tab--box > .tab-header {
  justify-content: center;
  margin: 0 0 3.75rem 0;
  padding: 0 20px;
}
.tab--box > .tab-header .tab-item {
  flex: 1 1 auto;
  max-width: 17.5rem;
  padding: 0;
}
.tab--box > .tab-header .tab-item .link {
  min-height: 3.75rem;
  font-size: 1.5em;
  font-weight: 600;
  color: #666;
  margin-left: -1px;
}
.tab--box > .tab-header .tab-item .link:not(.on):hover {
  color: #0054a6;
}
.tab--box > .tab-header .tab-item .link.on {
  color: #fff;
  background-color: #0054a6;
  border-color: #0054a6;
  font-weight: 500;
}
@media all and (max-width: 1024px) {
  .tab--box > .tab-header .tab-item .link {
    min-height: 3.125rem;
    font-size: 1.125em;
    padding: 0 0.2em;
  }
}
.tab--box.tab--eng .tab-header .tab-item .link {
  font-size: 1.2em;
}
@media all and (max-width: 1024px) {
  .tab--box.tab--eng .tab-header .tab-item .link {
    font-size: 0.9em;
  }
}

.contents-bx {
  text-align: center;
  margin: 4.375rem 0;
}
.contents-bx .tit {
  font-size: 2.25em;
  font-weight: bold;
  position: relative;
  padding-bottom: 1.875rem;
  color: #333333;
  margin-bottom: 2.5rem;
}
.contents-bx .tit.ex1:after {
  display: none;
}
.contents-bx .tit:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: #333333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.contents-bx .txt {
  font-size: 1.5em;
  color: #0054a6;
  font-weight: bold;
  margin-bottom: 1.25rem;
  letter-spacing: -0.04em;
}
.contents-bx .des {
  font-size: 1.25em;
  color: #666;
  letter-spacing: -0.04em;
}
.contents-bx .gray-1 {
  color: #111;
}

.pay-bx {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1.875rem 2.5rem;
  margin-bottom: 1.875rem;
}
@media all and (max-width: 768px) {
  .pay-bx {
    flex-wrap: wrap;
  }
}
.pay-bx__item {
  padding: 0 1.875rem;
}
.pay-bx__item img {
  width: 8.5625rem;
}

.pay-step-bg {
  background-color: #f9f9f9;
  padding: 0 20px;
}
.pay-step-bg .txt-bx {
  margin-top: 1.875rem;
}
.pay-step-bg .txt-bx .title {
  color: #0054a6;
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.5em;
}
.pay-step-bg .txt-bx .title em {
  font-style: normal;
}
.pay-step-bg .txt-bx .txt {
  font-size: 1.375em;
  letter-spacing: -0.04em;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
.pay-step-bg .txt-bx .des {
  font-size: 1.125em;
  letter-spacing: -0.04em;
}

.table-st--1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.table-st--1 th {
  font-size: 1.25em;
  color: #283c75;
  font-weight: 600;
  background-color: #cbd0dd;
}
.table-st--1 td {
  font-size: 1.25em;
}
.table-st--1 th,
.table-st--1 td {
  padding: 12px 10px;
  border-top: 1px solid #283c75;
  border-left: 1px solid #283c75;
  border-right: 1px solid #283c75;
}
.table-st--1 td {
  border-bottom: 1px solid #283c75;
}

.text {
  font-size: 1.25em;
  color: #0054a6;
  font-weight: bold;
  margin-top: 1.25rem;
}

.circle-bx {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .circle-bx {
    flex-wrap: wrap;
    margin: 0 -1.25rem;
  }
}
.circle-bx__item {
  flex: 1 0 25%;
  max-width: 25%;
  margin: 0 -1%;
}
.circle-bx__item.ex1 {
  flex: 1 0 20%;
  max-width: 20%;
  margin: 0 -1%;
}
@media all and (max-width: 1024px) {
  .circle-bx__item.ex1 {
    flex: 1 0 50%;
    max-width: 50%;
    margin: 0 auto;
    padding: 1.25rem;
  }
}
@media all and (max-width: 576px) {
  .circle-bx__item.ex1 {
    flex: 1 0 80%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 0;
  }
  .circle-bx__item.ex1:nth-child(1) {
    margin-top: 0;
  }
}
@media all and (max-width: 1024px) {
  .circle-bx__item {
    flex: 1 0 50%;
    max-width: 50%;
    margin: 0 auto;
    padding: 1.25rem;
  }
}
@media all and (max-width: 576px) {
  .circle-bx__item {
    flex: 1 0 80%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: -50px;
  }
  .circle-bx__item:nth-child(1) {
    margin-top: 0;
  }
}
@media (max-width: 380px) {
  .circle-bx__item {
    padding: 1.25rem 1.25rem;
  }
}
.circle-bx__item .inner {
  width: 100%;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-bx__item .inner::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle-bx__item .plus-bx {
  margin-top: 20px;
}
.circle-bx__item .plus-bx .tit2 {
  font-size: 1.25rem;
  color: #283c75;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.circle-bx__item .plus-bx .txt2 {
  font-size: 1.25rem;
  color: #111;
  font-weight: 500;
  letter-spacing: -0.025em;
}
.circle-bx__item .plus-bx2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #111;
  font-weight: 500;
  letter-spacing: -0.025em;
}
@media all and (max-width: 1400px) {
  .circle-bx__item .plus-bx2 {
    font-size: 1rem;
  }
}
.circle-bx__item .plus-bx2.ex1 {
  position: absolute;
  width: 165%;
  right: 10%;
  bottom: -18%;
}
@media all and (max-width: 1400px) {
  .circle-bx__item .plus-bx2.ex1 {
    font-size: 1rem;
    width: 165%;
    right: 10%;
    bottom: -25%;
  }
}
@media all and (max-width: 1024px) {
  .circle-bx__item .plus-bx2.ex1 {
    position: relative;
    width: 100%;
    right: auto;
    bottom: auto;
  }
}
.circle-bx__item:nth-of-type(1) .inner {
  background-color: rgba(216, 237, 247, 0.7);
}
.circle-bx__item:nth-of-type(2) .inner {
  background-color: rgba(244, 244, 244, 0.7);
}
.circle-bx__item:nth-of-type(3) .inner {
  background-color: rgba(220, 242, 242, 0.7);
}
.circle-bx__item:nth-of-type(4) .inner {
  background-color: rgba(220, 228, 242, 0.7);
}
.circle-bx__item:nth-of-type(5) .inner {
  background-color: rgba(236, 213, 220, 0.7);
}
.circle-bx__item .des-bx {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.circle-bx__item .des-bx img {
  width: 5rem;
  margin: 1.875rem auto 0 auto;
}
.circle-bx__item .des-bx .txt {
  font-size: 1.25em;
  color: #333333;
  font-weight: 700;
  margin-top: 0.9375rem;
  min-height: 8.125rem;
}
@media all and (max-width: 1200px) {
  .circle-bx__item .des-bx .txt {
    font-size: 1.125em;
  }
}
@media all and (max-width: 768px) {
  .circle-bx__item .des-bx .txt {
    font-size: 1em;
  }
}
.circle-bx.eng-bx .circle-bx__item .des-bx .txt {
  font-size: 1rem;
}

.detail-wrap .detail-table {
  text-align: left;
  border-left: 1px solid #ddd;
}
.detail-wrap .detail-table li {
  margin-bottom: 27px;
}
.detail-wrap .detail-table .tit1 {
  font-size: 1.25rem;
  color: #283c75;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.detail-wrap .detail-table .txt1 {
  font-size: 1.25rem;
  color: #111;
  font-weight: 500;
  letter-spacing: -0.025em;
  padding-left: 14px;
}
@media all and (max-width: 768px) {
  .detail-wrap {
    flex-direction: column;
  }
  .detail-wrap .detail-table {
    border-left: 0;
    margin-top: 30px;
  }
}

.circle-wrapper1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
@media all and (max-width: 1024px) {
  .circle-wrapper1 {
    margin-left: 0;
  }
}
.circle-wrapper2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
@media all and (max-width: 576px) {
  .circle-wrapper2 {
    margin-left: 0;
  }
}

.firm-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  height: 315px;
  border-radius: 50%;
  justify-content: center;
  mix-blend-mode: multiply;
  margin-right: -30px;
}
.firm-circle1 {
  background-color: rgba(202, 233, 248, 0.6);
}
.firm-circle2 {
  background-color: rgba(237, 237, 237, 0.6);
}
.firm-circle3 {
  background-color: rgba(206, 246, 246, 0.6);
}
.firm-circle .img {
  height: 70px;
  display: inline-flex;
  align-items: flex-end;
}
.firm-circle .img img {
  width: 64px;
}
.firm-circle .tit1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 29.5px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #333;
}
.firm-circle .txt {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 29.5px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #666;
}
@media all and (max-width: 1024px) {
  .firm-circle.eng-circle .tit1 {
    font-weight: 600;
    line-height: 20.5px;
  }
  .firm-circle.eng-circle .txt {
    line-height: 20.5px;
  }
}
@media all and (max-width: 576px) {
  .firm-circle.eng-circle .txt {
    font-size: 1rem;
  }
}
.firm-circle.circle3 {
  width: 360px;
  height: 360px;
  padding: 0 20px;
  margin-right: -30px;
}
.firm-circle.circle3 .tit1 {
  font-weight: 700;
}
.firm-circle.circle3 .txt {
  font-size: 1.125rem;
}
.firm-circle.ex1 {
  width: 365px;
  height: 365px;
}
@media all and (max-width: 1200px) {
  .firm-circle.ex1 {
    width: 315px;
    height: 315px;
  }
}
@media all and (max-width: 576px) {
  .firm-circle.ex1 {
    width: 180px;
    height: 180px;
  }
}
@media all and (max-width: 576px) {
  .firm-circle {
    width: 180px;
    height: 180px;
  }
  .firm-circle:last-child {
    margin-right: 0;
  }
  .firm-circle .img {
    height: 40px;
  }
  .firm-circle .img img {
    width: 30px;
  }
  .firm-circle .tit1 {
    font-size: 1.125rem;
  }
  .firm-circle .txt {
    font-size: 1.125rem;
  }
}
@media all and (max-width: 1024px) {
  .firm-circle.circle3 {
    width: 320px;
    height: 320px;
    margin-top: -20px;
    margin-right: 0;
  }
}
@media all and (max-width: 576px) {
  .firm-circle.circle3 {
    width: 260px;
    height: 260px;
  }
}

.sub-main-business4 .circle-bx__item .des-bx img {
  width: 3.875rem;
}
.sub-main-business4 .circle-bx__item .des-bx img.img1 {
  width: 8.125rem;
}
.sub-main-business4 .circle-bx__item .des-bx .name {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-top: 20px;
}

.payment-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-list__item {
  position: relative;
  padding: 0 3.125rem;
}
.payment-list__item:last-of-type:after {
  display: none;
}
.payment-list__item:after {
  content: "";
  display: block;
  background: url(../images/sub2/arrow_r.png) no-repeat;
  background-size: 100%;
  width: 3.875rem;
  height: 0.4375rem;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -13%;
}
.payment-list__item .img,
.payment-list__item .img-bx {
  height: 280px;
  display: inline-flex;
  align-items: center;
}
@media all and (max-width: 1200px) {
  .payment-list__item .img,
.payment-list__item .img-bx {
    height: auto;
  }
}
.payment-list__item .txt {
  font-size: 1.125em;
  color: #333333;
  min-height: 3.75rem;
  margin-top: 1.25em;
}
@media all and (max-width: 1024px) {
  .payment-list.eng-list {
    justify-content: flex-start;
  }
  .payment-list.eng-list .payment-list__item {
    flex: 0 0 30%;
  }
}
/*# sourceMappingURL=business-cp.css.map */