@charset "UTF-8";

// business_1.html

.busi-tit {
	font-size: rem(37.5);
	font-weight: 600;
	line-height: 60px;
	letter-spacing: -1.5px;
	text-align: center;
	color: #333;
	position: relative;
	padding-bottom: 20px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: 43px;
		height: 1px;
		background-color: #333;
	}
}

.busi-subtit {
	font-size: 20px;
	font-weight: 300;
	line-height: 29.5px;
	letter-spacing: -0.8px;
	text-align: center;
	color: #666;
	@include mdq-max(lg) {
		font-size: 17px;
		line-height: 24px;
	}
}

.pg-row {
	.col-lg-3 {
		@include mdq-min(lg) {
			flex: 0 0 20% !important;
			max-width: 20% !important;
		}
	}
	.inner {
		text-align: center;
		margin-top: 50px;
		.img {
			height: 70px;
			display: inline-flex;
			align-items: flex-end;
		}
		.ico {
			width: 64px;
		}
		.tit {
			font-size: rem(24);
			font-weight: 700;
			line-height: 34px;
			letter-spacing: -0.96px;
			color: #111;
			padding-top: 25px;
			margin-top: 50px;
			border-top: 1px solid #111;
		}
		.txt {
			font-size: rem(17.5);
			font-weight: 300;
			line-height: 26px;
			letter-spacing: -0.7px;
			color: #666;
			margin-top: 50px;
		}
	}
	&.eng-row {
		.inner {
			.tit {
				font-size: rem(19);
				line-height: 25px;
			}
			.txt {
				font-size: rem(16);
				line-height: 21px;
				margin-top: 15px;
			}
		}
	}
}

.pg-service {
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
	.inner {
		display: flex;
		align-items: center;
		gap: 4rem;
		@include mdq-max(lg) {
			gap: 2rem;
			margin-top: 50px;
		}
		&.left {
			justify-content: flex-start;
			text-align: left;
			@include mdq-max(lg) {
				flex-direction: column;
				text-align: center;
				.img {
					width: rem(250);
				}
			}
		}
		&.right {
			justify-content: flex-end;
			text-align: right;
			@include mdq-max(lg) {
				flex-direction: column-reverse;
				text-align: center;
				.img {
					width: rem(250);
				}
			}
		}
	}
	.txt-bx {
		.tit {
			font-size: rem(24);
			font-weight: 700;
			line-height: 34px;
			letter-spacing: -0.96px;
			color: #111;
			margin-bottom: 25px;
		}
		.txt {
			font-size: rem(18);
			font-weight: 300;
			line-height: 24px;
			letter-spacing: -0.72px;
			color: #666;
		}
	}
}

// business_2.html

.busi-main {
	// .tab--box {
	// 	.tab-header {
	// 		padding: 0 20px;
	// 		justify-content: center;
	// 		@include mdq-max(lg) {
	// 			justify-content: flex-start;
	// 			overflow-x: scroll;
	// 		}
	// 		.tab-item {
	// 			min-width: 21.25rem;
	// 			padding: 0;
	// 			.link {
	// 				font-size: rem(21);
	// 				font-weight: 600;
	// 				letter-spacing: -0.94px;
	// 				color: #666;
	// 				margin-left: -1px;
	// 				min-height: rem(55);
	// 				&.on {
	// 					background-color: #0054a6;
	// 					border-color: #0054a6;
	// 					color: white;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.tab {
		&--box {
			> .tab-header {
				justify-content: center;
				margin: 0 0 rem(60) 0;
				padding: 0 20px;
				@include mdq-max(lg) {
					// overflow-x: scroll;
					// justify-content: flex-start;
					.tab-item {
						.link {
							min-width: rem(150);
							&.cms-link {
								min-width: rem(110);
							}
						}
					}
				}

				.tab-item {
					flex: 1 1 auto;
					max-width: rem(430);
					padding: 0;

					.link {
						min-height: rem(60);
						font-size: em(24);
						font-weight: 600;
						color: $gray-6;
						margin-left: -1px;

						&:not(.on) {
							&:hover {
								color: #0054a6;
							}
						}

						&.on {
							color: #fff;
							background-color: #0054a6;
							border-color: #0054a6;
							font-weight: 500;
						}
					}

					@include mdq-max(lg) {
						.link {
							min-height: rem(50);
							font-size: em(18);
							padding: 0 0.2em;
						}
					}
				}
			}
			&.tab--eng {
				.tab-header {
					.tab-item {
						.link {
							font-size: 1.2em;
							@include mdq-max(lg) {
								font-size: 0.9em;
							}
						}
					}
				}
			}
		}
	}
}

.bg-gray {
	background-color: #fafafa;
}

.firm-tit {
	font-size: rem(24);
	font-weight: 600;
	letter-spacing: -0.94px;
	color: #0054a6;
	letter-spacing: -0.8px;
	text-align: center;
	&2 {
		font-size: rem(30);
	}
}

.firm-txt {
	font-size: rem(20);
	font-weight: 300;
	letter-spacing: -0.8px;
	color: #666;
	text-align: center;
	line-height: 1.7;
	@include mdq-max(lg) {
		font-size: rem(17);
		line-height: 24px;
	}
}

.img-article {
	padding-top: 4.3rem;
	padding-bottom: 14rem;
}

.img-wrap {
	position: relative;
	.person {
		@include mdq-max(md) {
			width: 150px;
		}
	}
	.img-inner {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		.img {
			height: 80px;
			display: flex;
			display: flex;
			align-items: flex-end;
			img {
				width: 64px;
			}
		}
		&1 {
			left: -56%;
			top: 36%;
			&.eng-inner {
				@include mdq-max(md) {
					left: -102%;
				}
				@include mdq-max(sm) {
					left: -62%;
				}
			}
		}
		&2 {
			right: -56%;
			top: 36%;
			&.eng-inner {
				right: -54%;
				@include mdq-max(md) {
					right: -100%;
				}
				@include mdq-max(sm) {
					right: -59%;
				}
			}
		}
		&3 {
			left: 32%;
			bottom: -43%;
			&.eng-inner {
				left: 11%;
				@include mdq-max(md) {
					bottom: -81%;
				}
				@include mdq-max(sm) {
					bottom: -55%;
				}
			}
		}

		.txt {
			font-size: rem(20);
			font-weight: 600;
			letter-spacing: -0.8px;
			text-align: center;
			color: #333;
		}
		&.eng-inner {
			.txt {
				font-size: rem(16);
				@include mdq-max(sm) {
					font-size: 10px;
				}
			}
		}
		@include mdq-max(md) {
			gap: 1rem;
			.img {
				height: 50px;
				img {
					width: 30px;
				}
			}
			&1 {
				top: 27%;
			}
			&2 {
				top: 27%;
			}
			&3 {
				left: 25%;
				bottom: -50%;
			}
			.txt {
				font-size: rem(15);
			}
		}
	}
}

.circle-wrapper {
	&1 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -30px;
		@include mdq-max(lg) {
			margin-left: 0;
		}
	}
	&2 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -30px;
		@include mdq-max(sm) {
			margin-left: 0;
		}
	}
}

.firm-circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 315px;
	height: 315px;
	border-radius: 50%;
	justify-content: center;
	mix-blend-mode: multiply;
	margin-right: -30px;
	&1 {
		background-color: rgb(202 233 248 / 60%);
	}
	&2 {
		background-color: rgb(237 237 237 / 60%);
	}
	&3 {
		background-color: rgb(206 246 246 / 60%);
	}
	.img {
		height: 70px;
		display: inline-flex;
		align-items: flex-end;
		img {
			width: 64px;
		}
	}
	.tit {
		font-size: rem(20);
		font-weight: 600;
		line-height: 29.5px;
		letter-spacing: -0.8px;
		text-align: center;
		color: #333;
	}
	.txt {
		font-size: rem(20);
		font-weight: 300;
		line-height: 29.5px;
		letter-spacing: -0.8px;
		text-align: center;
		color: #666;
	}
	&.eng-circle {
		@include mdq-max(lg) {
			.tit {
				font-weight: 600;
				line-height: 20.5px;
			}
			.txt {
				line-height: 20.5px;
			}
		}
		@include mdq-max(sm) {
			.txt {
				font-size: 1rem;
			}
		}
	}
	&.circle3 {
		width: 360px;
		height: 360px;
		padding: 0 20px;
		margin-right: -30px;
		.tit {
			font-weight: 700;
		}
		.txt {
			font-size: rem(18);
		}
	}
	@include mdq-max(sm) {
		width: 180px;
		height: 180px;
		&:last-child {
			margin-right: 0;
		}
		.img {
			height: 40px;
			img {
				width: 30px;
			}
		}
		.tit {
			font-size: rem(18);
		}
		.txt {
			font-size: rem(18);
		}
	}
	// @include mdq-max(xl) {
	// 	&.circle3 {
	// 		.tit {
	// 			font-size: rem(16);
	// 		}
	// 		.txt {
	// 			font-size: rem(16);
	// 		}
	// 	}
	// }
	@include mdq-max(lg) {
		&.circle3 {
			width: 320px;
			height: 320px;
			margin-top: -20px;
			margin-right: 0;
		}
	}
	@include mdq-max(sm) {
		&.circle3 {
			width: 260px;
			height: 260px;
		}
	}
}

.firm2-img {
	flex: 0 0 400px;
	max-width: 400px;
	margin-left: 2rem;
	@include mdq-max(md) {
		flex: 1 1 auto;
		max-width: 100%;
		margin-bottom: 1rem;
		margin-left: 0;
	}
}

.firm2-txt {
	flex: 0 0 550px;
	max-width: 550px;
	margin-left: 4.5rem;
	@include mdq-max(lg) {
		flex: 1 1 auto;
		max-width: 100%;
	}
	@include mdq-max(md) {
		margin-left: 0;
	}
}
